body {
    background: #363636;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    border:none;
    margin:0;
    padding:0;
    text-align:center;
    z-index:0;
}
#trump-canvas {
    height: 100%;
    width: 100%;
}
#dumb-circle {
    background: url("../images/dumb-square.png");
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #4788c7;
    opacity: .8;
    width: 60px;
    height: 60px;
    position:absolute;
    top:10px;
    left:8px;
    z-index: 100;
    animation: shadow-pulse 3s infinite;
    transition: 0.3s;
}
#dumb-circle:hover {
    cursor: pointer;
    opacity: 1;
}
#trump-stats {
    position:fixed;
    top: 7px;
    right: 7px;
}
#trump-count {
    background: #1e7e34;
    color: white;
    font-size: 2em;
}
#social {
    position:absolute;
    bottom: 7px;
    left: 7px;
}
#trump-controls {
    position:fixed;
    bottom:7px;
    right:7px;
}
#remove-trump {
    visibility: hidden;
}
.swal-button {
    background: #007bff;
    border-color: #007bff;
}
.swal-button:focus {
    box-shadow: none;
}
.swal-button:not([disabled]):hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
.swal-icon--custom {
    width: 50%;
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
}
.swal-title {
    margin: 0;
    font-size: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 24px;
    color: #bd2130;
}
.swal-title:not(:last-child) {
     margin-bottom: inherit;
}
.swal-title:not(:first-child) {
     padding-bottom: 10px;
}
.swal-text {
    font-style: italic;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}
@keyframes shadow-pulse
{
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.flashit{
    color:#f2f;
    animation: flash linear 1s infinite;
}
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}
@media only screen and (max-width: 500px) {
    .btn-responsive {
        font-size:90%;
        line-height: 1;
        border-radius:3px;
    }
    #dumb-circle {
        width: 45px;
        height: 45px;
    }
    #trump-count {
        font-size: 1.5em;
    }
}



